<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><include(input.title)/></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

$ var menus = ['Login', 'Register', 'Logout'];
<body>
  <nav.uk-navbar-container uk-navbar>
      <div.uk-navbar-right>
          <ul.uk-navbar-nav>
            <li for(menu in menus)>
              <a>${menu}</a>
            </li>
          </ul>
      </div>
  </nav>
  <div.uk-container.uk-align-center>
    <include(input.content)/>
  </div>
  </body>
</html>