<site-layout>
  <@title>Marko Starter</@title>
  <@content>
    <section>
      <h2>Hello!</h2>
      <p>
        We're glad you've decided to try out Marko. You're looking at the result of <code>~/src/index.marko</code>. Try editing that file and this page will reload. &#9889;
      </p>
    </section>
  </@content>
</site-layout>
